{% load static %}

<footer>
    <div class="footer">
        <h3 class="contacts-title gb">
         Контакты   
        </h3>
        <div class="footer-wrap">
            <div class="help-section gr">
                <p class="footer-title gb">Секция по работе с обучающимися</p>
                <p class="tdu">profkom@mospolytech.ru</p>
                <p class="tdu">+7 495 223 05 31</p>
                <p>г. Москва, ул. Б. Семеновская, д. 38, ауд. В-202</p>
            </div>

            <div class="help-section gr">
                <p class="footer-title gb">Секция по работе с обучающимися</p>
                <p class="tdu">profkom@mospolytech.ru</p>
                <p class="tdu">+7 495 223 05 23 (доб. 12-10)</p>
                <p>г. Москва, ул. Б. Семеновская, д. 38, ауд. В-202</p>
            </div>
            </div>
        <div class="socials">
            <a href="#" class='vk-link'><img src="{% static 'backend/images/icons/vk.png' %}" alt=""></a>
            <a href="#" class='tg-link'><img src="{% static 'backend/images/icons/tg.png' %}" alt=""></a>
        </div>
        <div class="footer-copy">
            <p>© 2017 - {% now "Y" %} Профсоюзная организация Московского Политеха</p>
        </div>
    </div>
</footer>