{% load static %}

<div class="header">
	<div class="top">
        <img src="{% static 'backend/images/header/header_logo.png' %}" alt="Логотип ППО" class="header-logo">
    </div>
    <div class="bottom">
        <ul class="menu">
            <li class="menu-item"><a href="{% url 'home'%}">Главная</a></li>
            <li class="menu-item"><a href="#">Документы</a></li>
            <li class="menu-item"><a href="#">Льготы</a></li>
            <li class="menu-item"><a href="{% url 'news' %}">Новости</a></li>
            <li class="menu-item"><a href="#">Контакты</a></li>
        </ul>
    </div>
</div>